.portal_left {
    -fx-background-image: url(/Graphics/portal/portal_left.gif);
    -fx-background-color: transparent;
    -fx-fill: transparent;
}

.portal_right {
    -fx-background-image: url(/Graphics/portal/portal_right.gif);
    -fx-background-color: transparent;
    -fx-fill: transparent;
}