.soldier-stand {
    -fx-background-image: url(/graphics/player_1/soldier_stand.png);
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.adventurer-stand {
    -fx-background-image: url(/graphics/player_2/adventurer_stand.png);
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.soldier-walk-1-right {
    -fx-background-image: url(/graphics/player_1/soldier_walk1.png);
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.adventurer-walk-1-right {
    -fx-background-image: url(/graphics/player_2/adventurer_walk1.png);
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.soldier-walk-2-right {
    -fx-background-image: url(/graphics/player_1/soldier_walk2.png);
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.adventurer-walk-2-right {
    -fx-background-image: url(/graphics/player_2/adventurer_walk2.png);
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.soldier-walk-1-left {
    -fx-background-image: url(/graphics/player_1/soldier_walk1-left.png);
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.adventurer-walk-1-left {
    -fx-background-image: url(/graphics/player_2/adventurer_walk_1_left.png);
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.soldier-walk-2-left {
    -fx-background-image: url(/graphics/player_1/soldier_walk2-left.png);
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.adventurer-walk-2-left {
    -fx-background-image: url(/graphics/player_2/adventurer_walk_2_left.png.png);
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.soldier-jump-right {
    -fx-background-image: url(/graphics/player_1/soldier_jump.png);
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.adventurer-jump-right {
    -fx-background-image: url(/graphics/player_2/adventurer_jump.png);
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.soldier-jump-left {
    -fx-background-image: url(/graphics/player_1/soldier-jump-left.png);
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.adventurer-jump-left {
    -fx-background-image: url(/graphics/player_2/adventurer_jump_left.png);
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.obstacle_brick {
    -fx-background-image: url(/graphics/grey_bricks.png);
    -fx-background-color: transparent;
    -fx-fill: transparent;
}

.obstacle_rod {
    -fx-background-image: url(/graphics/pattern16.png);
    -fx-background-color: transparent;
    -fx-fill: transparent;
}

.portal_left {
    -fx-background-image: url(/graphics/portal/portal_left.gif);
    -fx-background-color: transparent;
    -fx-fill: transparent;
}

.portal_right {
    -fx-background-image: url(/graphics/portal/portal_right.gif);
    -fx-background-color: transparent;
    -fx-fill: transparent;
}


.pane {
    -fx-background-image: url(/graphics/menu/background.jpg);
    -fx-background-color: transparent;
    -fx-pref-width: 1440px;
    -fx-pref-height: 811px;
}

.pane_vertical {
    -fx-background-image: url(/graphics/menu/vertical_background.png);
    -fx-background-color: transparent;
    -fx-pref-width: 825px;
    -fx-pref-height: 1000px;
}

.weapon_right {
    -fx-background-image: url(/graphics/weapon/weapon_face_right.png);
    -fx-background-color: transparent;
    -fx-pref-height: 47px;
    -fx-pref-width: 70px;
}

.weapon_left {
    -fx-background-image: url(/graphics/weapon/weapon_face_left.png);
    -fx-background-color: transparent;
    -fx-pref-height: 47px;
    -fx-pref-width: 70px;
}

.bullet {
    -fx-background-image: url(/graphics/weapon/bullet.png);
    -fx-background-color: transparent;
    -fx-pref-height: 16px;
    -fx-pref-width: 16px;
}

.jumper_green {
    -fx-background-image: url(/graphics/jumper/green_jump.png);
    -fx-background-color: transparent;
    -fx-pref-height: 21px;
    -fx-pref-width: 14px;
}

.jumper_red {
    -fx-background-image: url(/graphics/jumper/red_jump.png);
    -fx-background-color: transparent;
    -fx-pref-height: 21px;
    -fx-pref-width: 14px;
}

.explosion_1 {
    -fx-background-image: url(/graphics/explosion/0001.png);
}

.explosion_2 {
    -fx-background-image: url(/graphics/explosion/0002.png);
}

.explosion_3 {
    -fx-background-image: url(/graphics/explosion/0003.png);
}

.explosion_4 {
    -fx-background-image: url(/graphics/explosion/0004.png);
}

.explosion_5 {
    -fx-background-image: url(/graphics/explosion/0005.png);
}

.explosion_6 {
    -fx-background-image: url(/graphics/explosion/0006.png);
}

.explosion_7 {
    -fx-background-image: url(/graphics/explosion/0007.png);
}

.explosion_8 {
    -fx-background-image: url(/graphics/explosion/0008.png);
}

.explosion_9 {
    -fx-background-image: url(/graphics/explosion/0009.png);
}

.explosion_10 {
    -fx-background-image: url(/graphics/explosion/0010.png);
}

.explosion_11 {
    -fx-background-image: url(/graphics/explosion/0011.png);
}

.explosion_12 {
    -fx-background-image: url(/graphics/explosion/0012.png);
}

.explosion_13 {
    -fx-background-image: url(/graphics/explosion/0013.png);
}

.explosion_14 {
    -fx-background-image: url(/graphics/explosion/0014.png);
}

.explosion_15 {
    -fx-background-image: url(/graphics/explosion/0015.png);
}

.explosion_16 {
    -fx-background-image: url(/graphics/explosion/0016.png);
}

.explosion_17 {
    -fx-background-image: url(/graphics/explosion/0017.png);
}

.explosion_18 {
    -fx-background-image: url(/graphics/explosion/0018.png);
}

.blood_1 {
    -fx-background-image: url(/graphics/blood/blood_1.png);
}

.blood_2 {
    -fx-background-image: url(/graphics/blood/blood_2.png);
}

.blood_3 {
    -fx-background-image: url(/graphics/blood/blood_3.png);
}

.heart {
    -fx-background-image: url(/graphics/heart.png);
}

