.soldier {

    -fx-background-image: url(/graphics/soldier_stand.png);
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.obstacle {
    -fx-background-image: url(/graphics/grey_bricks.png);
    -fx-background-color: transparent;
    -fx-fill: transparent;

}

.pane {

    -fx-background-image: url(/graphics/background.jpg);
    -fx-background-color: transparent;
    -fx-pref-width: 1440px;
    -fx-pref-height: 811px;
}

.weapon {

    -fx-background-image: url(/graphics/weapon_face_right.png);
    -fx-background-color: transparent;
    -fx-pref-height: 47px;
    -fx-pref-width: 70px;
}

.bullet {

    -fx-background-image: url(/graphics/bullet.png);
    -fx-background-color: transparent;
    -fx-pref-height: 16px;
    -fx-pref-width: 16px;
}