.button {
    -fx-background-image: url(../graphics/grey_button00.png);
    -fx-background-color: transparent;
    -fx-pref-height: 49px;
    -fx-pref-width: 190px;
    -fx-background-repeat: no-repeat;
}

.button:pressed {
    -fx-background-image: url(/graphics/grey_button01.png);
    -fx-background-color: transparent;
    -fx-pref-height: 45px;
    -fx-pref-width: 190px;
    -fx-background-repeat: no-repeat;
}

.pane {

    -fx-background-image: url(/graphics/background.jpg);
    -fx-background-color: transparent;

}
