.blood_1 {
    -fx-background-image: url(/Graphics/blood/blood_1.png);
}

.blood_2 {
    -fx-background-image: url(/Graphics/blood/blood_2.png);
}

.blood_3 {
    -fx-background-image: url(/Graphics/blood/blood_3.png);
}