.explosion_1 {
    -fx-background-image: url(/graphics/explosion/0003.png);
}

.explosion_2 {
    -fx-background-image: url(/graphics/explosion/0004.png);
}

.explosion_3 {
    -fx-background-image: url(/graphics/explosion/0005.png);
}

.explosion_4 {
    -fx-background-image: url(/graphics/explosion/0006.png);
}

.explosion_5 {
    -fx-background-image: url(/graphics/explosion/0007.png);
}

.explosion_6 {
    -fx-background-image: url(/graphics/explosion/0008.png);
}

.explosion_7 {
    -fx-background-image: url(/graphics/explosion/0009.png);
}

.explosion_8 {
    -fx-background-image: url(/graphics/explosion/0010.png);
}

.explosion_9 {
    -fx-background-image: url(/graphics/explosion/0011.png);
}

.explosion_10 {
    -fx-background-image: url(/graphics/explosion/0012.png);
}

.explosion_11 {
    -fx-background-image: url(/graphics/explosion/0013.png);
}

.explosion_12 {
    -fx-background-image: url(/graphics/explosion/0014.png);
}

.explosion_13 {
    -fx-background-image: url(/graphics/explosion/0015.png);
}

.explosion_14 {
    -fx-background-image: url(/graphics/explosion/0016.png);
}

.explosion_15 {
    -fx-background-image: url(/graphics/explosion/0017.png);
}